<nav class="navbar wide transparent absolute inverse-text navbar-expand-lg">
  <div class="container-fluid flex-row justify-content-center">
    <div class="navbar-header">
      <div class="navbar-brand"><a href="index.html"><img src="#" srcset="../../assets/images/logo2-light.png 1x, ../../assets/images/logo2-light@2x.png 2x" alt="" /></a></div>
      <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div>
    </div>
    <!-- /.navbar-header -->
    <div class="navbar-collapse collapse justify-content-between align-items-center">
      <ul class="navbar-nav plain mx-auto text-center">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#portfolio">Porfolio</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item scroll" href="#specialties">My Specialties</a></li>
            <li class="nav-item"><a class="dropdown-item scroll" href="#portfolio">My Featured Work</a></li>
<!--            <li class="nav-item"><a class="dropdown-item" href="portfolio3.html">List Type</a></li>
            <li class="nav-item"><a class="dropdown-item" href="portfolio4.html">One Column</a></li>
            <li class="nav-item"><a class="dropdown-item" href="portfolio5.html">Two Columns</a></li>
            <li class="nav-item"><a class="dropdown-item" href="portfolio6.html">Three Columns</a></li>
            <li class="nav-item"><a class="dropdown-item" href="portfolio7.html">Video Album</a> </li>
            <li class="nav-item"><a class="dropdown-item" href="portfolio8.html">Photo Album</a></li>-->
          </ul>
        </li><!-- Portfolio -->
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Gallery</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="#">Incoming</a></li>
            <!--<li class="nav-item"><a class="dropdown-item" href="gallery2.html">List Type</a></li>
            <li class="nav-item"><a class="dropdown-item" href="gallery3.html">Three Columns</a></li>
            <li class="nav-item"><a class="dropdown-item" href="gallery4.html">Titled Gallery</a></li>
            <li class="nav-item"><a class="dropdown-item" href="gallery5.html">Lightbox - Three Column Grid</a></li>
            <li class="nav-item"><a class="dropdown-item" href="gallery6.html">Lightbox - Two Column Grid</a></li>
            <li class="nav-item"><a class="dropdown-item" href="gallery7.html">Lightbox - Fullscreen Grid</a></li>
            <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Gallery Posts</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="gallery-post.html">Post with Carousel</a></li>
                <li class="nav-item"><a class="dropdown-item" href="gallery-post2.html">Post with Images</a></li>
                <li class="nav-item"><a class="dropdown-item" href="gallery-post3.html">Post with Lightbox</a></li>
                <li class="nav-item"><a class="dropdown-item" href="gallery-post4.html">Post with Thumbnail Slider</a></li>
              </ul>
            </li>-->
          </ul>
        </li><!-- Gallery -->
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Contact</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item scroll" href="#contact">Contact me</a></li>
          </ul>
        </li><!-- Contact -->
      </ul>
    </div>
    <div class="social-wrapper text-right">
      <ul class="social social-mute social-s mb-0">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
        <li><a href="https://www.instagram.com/raquelrovira/"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <!--/.social-wrapper -->
  </div>
</nav>
