<footer class="wrapper light-wrapper">
  <div class="container inner pt-60 pb-30 text-center">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-4">
            <div class="widget">
              <h3 class="widget-title text-uppercase">Location</h3>
              <address class="mb-0"> Moravia <br> San Jose, Costa Rica </address>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-4">
            <div class="widget">
              <h3 class="widget-title text-uppercase">Follow</h3>
              <ul class="social social-mute social-s">
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/raquelrovira/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-4">
            <div class="widget">
              <h3 class="widget-title text-uppercase">Contact</h3>
              <a href="mailto:#" class="nocolor">raquelrovirad@gmail.com</a> <br /> +(506) 8654 7234
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space30"></div>
    <p class="text-center">© 2019 Picstel. All rights reserved.</p>
    <p class="text-center">
      Page built by <a href="https://www.linkedin.com/in/laureano-s%C3%A1nchez-aguilar-483074127/">Laureano Sanchez</a>
    </p>
  </div>
  <!-- /.container -->
</footer>
