<div class="wrapper light-wrapper" id="portfolio">
  <div class="container inner">
    <h2 class="title-color color-dark mb-20 text-center">My Featured Work</h2>
    <h3 class="sub-heading2 text-center">Photography is my passion and<br class="d-none d-xl-block" /> I love to turn ideas into beautiful things.</h3>
    <div class="space40"></div>
    <div id="cube-grid-filter" class="cbp-filter-container text-center">
      <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
      <div data-filter=".food" class="cbp-filter-item">Food</div>
      <div data-filter=".drink" class="cbp-filter-item">Drink</div>
      <div data-filter=".event" class="cbp-filter-item">Event</div>
      <div data-filter=".pastry" class="cbp-filter-item">Pastry</div>
      <div data-filter=".product" class="cbp-filter-item">Product</div>
    </div>
    <div class="clearfix"></div>
    <div class="space20"></div>
    <div id="cube-grid" class="cbp">
      <div class="cbp-item food">
        <figure class="overlay overlay1 rounded"><a href="gallery-post.html"><img src="../../../../../../../../assets/images/cp1.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item product">
        <figure class="overlay overlay1 rounded"><a href="gallery-post2.html"><img src="../../../../../../../../assets/images/cp2.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item drink">
        <figure class="overlay overlay1 rounded"><a href="gallery-post3.html"><img src="../../../../../../../../assets/images/cp3.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item food">
        <figure class="overlay overlay1 rounded"><a href="gallery-post4.html"><img src="../../../../assets/images/cp4.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item event">
        <figure class="overlay overlay1 rounded"><a href="gallery-post.html"><img src="../../../../assets/images/cp5.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item product event">
        <figure class="overlay overlay1 rounded"><a href="gallery-post2.html"><img src="../../../../assets/images/cp6.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item drink">
        <figure class="overlay overlay1 rounded"><a href="gallery-post3.html"><img src="../../../../assets/images/cp7.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item event">
        <figure class="overlay overlay1 rounded"><a href="gallery-post4.html"><img src="../../../../assets/images/cp8.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item pastry">
        <figure class="overlay overlay1 rounded"><a href="gallery-post.html"><img src="../../../../assets/images/cp9.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item pastry">
        <figure class="overlay overlay1 rounded"><a href="gallery-post2.html"><img src="../../../../assets/images/cp10.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item food">
        <figure class="overlay overlay1 rounded"><a href="gallery-post3.html"><img src="../../../../assets/images/cp11.jpg" alt="" /></a>
          <figcaption>
            <h5 class="text-uppercase from-top mb-0">Project Name</h5>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
    </div>
    <!--/.cbp -->
    <div class="space30"></div>
    <div id="cube-grid-more" class="text-center"> <a href="ajax/loadmore.html" class="cbp-l-loadMore-link btn btn-white shadow" rel="nofollow"> <span class="cbp-l-loadMore-defaultText">Load More</span> <span class="cbp-l-loadMore-loadingText">Loading...</span>
        <span class="cbp-l-loadMore-noMoreLoading">No More Works</span> </a>
    </div>
  </div>
  <!-- /.container -->
</div>
