<div class="wrapper bg-pastel-default" id="specialties">
  <div class="container inner">
    <h2 class="title-color color-dark mb-20 text-center">My Specialties</h2>
    <h3 class="sub-heading2 text-center">I'd like to give you a unique photography experience, capturing your<br class="d-none d-xl-block" />  products with excellent composition and lighting skills.</h3>
    <div class="space30"></div>
    <div class="tiles">
      <div class="items row boxed grid-view text-center">
        <div class="item col-md-4">
          <div class="box bg-white shadow p-30">
            <figure class="main mb-25"><img src="../../../../assets/images/sessions.jpg" alt="" /></figure>
            <h4 class="text-uppercase mb-5">Sessions</h4>
          </div>
          <!-- /.box -->
        </div>
        <!--/.item -->
        <div class="item col-md-4">
          <div class="box bg-white shadow p-30">
            <figure class="main mb-25"><img src="../../../../assets/images/events.jpg" alt="" /></figure>
            <h4 class="text-uppercase mb-5">Events</h4>
          </div>
          <!-- /.box -->
        </div>
        <!--/.item -->
        <div class="item col-md-4">
          <div class="box bg-white shadow p-30">
            <figure class="main mb-25"><img src="../../../../assets/images/landscapes.jpg" alt="" /></figure>
            <h4 class="text-uppercase mb-5">Landscapes</h4>
          </div>
          <!-- /.box -->
        </div>
        <!--/.item -->
      </div>
      <!--/.row -->
    </div>
    <!--/.tiles -->
  </div>
  <!-- /.container -->
</div>
