<div class="wrapper bg-pastel-default">
  <div class="container inner text-center">
    <h2 class="title-color color-dark mb-20 text-center">Work with Me</h2>
    <h3 class="sub-heading2 text-center">Great photography comes with understanding customer needs.<br class="d-none d-xl-block" /> Looking for a caring, fun, passionate and creative photographer? It's me!</h3>
    <div class="space10"></div>
    <a href="#" class="btn btn-white shadow">Get in Touch</a>
  </div>
  <!-- /.container -->
</div>